{% extends "base.html" %}

{% block title %}home.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}
<style>
.m_content {width:100%; margin:0 auto;}
.m_content div.m_con {diplay:inline-block;float:left;}
.table tr td{vertical-align:top; width:30%;}
.type09 {
	width: 100%;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
}
.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
.type09 tbody th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
.type09 td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
.type09 tbody th {
	width:20%;
}
.footer{
   position:fixed;
   bottom:0;
  }
  
  
</style>
<div id="content_home">

    <div id="homeimg">
        <a href="/"><img src="{% static 'img/main.jpg' %}" style="height:256px;"/></a>
        <h4 style="margin: 0;"></h4>
    </div>
    
    <div class"m_content">
		<div class"m_con">
			<table class="table">
				<tr>
					<td>
						<div>
							<img src="{% static 'img/1.jpg' %}"alt="힐링이미지02" />
						</div>
						<div>
							<table class="type09">
								<thead>
								<tr>
									<th colspan="2">타이틀</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th>1</th>
									<td>내용이 들어갑니다.</td>
								</tr>
								<tr>
									<th>2</th>
									<td>내용이 들어갑니다.</td>
								</tr>
								<tr>
									<th>3</th>
									<td>내용이 들어갑니다.</td>
								</tr>
								<tr>
									<th>4</th>
									<td>내용이 들어갑니다.</td>
								</tr>
								</tbody>
							</table>
						</div>
					</td>
					<td>
						<center>
							<hr style="margin: 0px 0;">
							
							<h2>· 새 소식 ·</h2>
	
							<table id="applist">
								
								<tr>
								<td><b><i><a href="{% url 'bookmark:index' %}">공지사항</a></i><b></td>
								<td>시나브로가 이렇게 업데이트 되었습니다!</td>
								</tr>

								<tr>
								<td><b><i><a href="{% url 'blog:index' %}">언론보도</a></i><b></td>
								<td>조선일보에 시나브로가 보도되었습니다!</td>
								</tr>

								<tr>
								<td><b><i><a href="{% url 'photo:index' %}">후원하기</a></i><b></td>
								<td>저희 시나브로가 성장할수있도록 후원해주세요!</td>
								</tr>
							
							</table>
						</center>
					</td>
					<td>
						<div>
							<img src="{% static 'img/2.jpg' %}" alt="힐링이미지02" />
						</div>
						<div>
							<img src="{% static 'img/3.jpg' %}" alt="힐링이미지02" />
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	
	
	
</div>




{% block footer %}
<div id="footer">
	<div class="footer">
		&copy; t1804four
	</div>
</div>
{% endblock footer %}
